<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding Exercise</title>
    <link rel="stylesheet" type="text/css" href="format.css"/>
</head>
<body>
<h1>Coding Challenge</h1>
<form action="/search" method="get">
    <h2>Enter the Name of the Movie: <input type="text" name="keyword"><br>
        <input type="submit" value="Submit"></h2><br>
</form>

<table class = center cellspacing= "5">
    {{#results}}
    <tr>
        <h2><td>{{title}}</td></h2>
        <td>Released {{released}}</td>
        <td>Rated {{rated}}</td>
        <td>Runtime: {{runtime}}</td>
    </tr>
    {{/results}}
</table>
{{#results}}
{{#poster}}<img src="{{poster}}" alt="{{poster}}" style="width:300;height:300;"/>{{/poster}}<br>

<h2>Plot: {{plot}}</h2>
<h2>Staring: {{actors}}</h2><br>
<h2>Reviews</h2>
<table class = center cellspacing= "5">
    {{#results}}
    <tr>
        <td></td>
        <td>Metascore: {{metaScore}}</td>
        <td>IMDB Rating:{{imdbRating}}</td>
        <td>IMDB Votes: {{imdbVotes}}</td>
    </tr>
    {{/results}}
</table>

<br>
<br>

Genre: {{genre}}<br>
Director: {{director}}<br>
Writer/s: {{writer}}<br>


Additional info:
Language/s: {{language}}<br>
Country: {{country}}<br>
Awards: {{awards}}<br>
<br>
IMDB ID: {{imdbID}}<br>
Type: {{type}}<br>
Box Office: {{boxOffice}}<br>
Production: {{production}}<Br>
Website: {{website}}<Br>
{{/results}}


{{#error}}
{{error}}
{{/error}}
</h2>
</body>
</html>